// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-custom {
    background: #8AC4FF;
    color: #ffffff;
}
.btn-mycustom {
    background: #8693AB;
    color: #ffffff;
}

.btn-custom3 {
    background: #BDD4E7;
    color: #ffffff;
}

.panel-heading-custom {
    background-color: #BDD4E7;
}