// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-custom {
    background: #8AC4FF;
    color: #ffffff;
}
.btn-mycustom {
    background: #9BC4BC;
    color: #ffffff;
}

.btn-custom3 {
    background: #F9FBB2;
    color: #808080;
}

.panel-default > .panel-heading-custom {
    background: #F9FBB2;
}